@import 'global';
@import 'animations';

:root {
  --primary-color: #FFD90C;
  --secondary-color: #333333;
  --light: #fff;
  --dark: #000;
}

.custom-btn {
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s linear;
  }

  &:hover {
    color: var(--light);
    
    &::after {
      width: 100%;
    }
  }
}

.heading {
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;

  h1 {
    color: var(--dark);
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
    border-inline-start: 1px solid var(--primary-color);
    padding-inline-start: 15px;
  }

  .more-data {
    display: flex;
    align-items: center;
    align-content: center;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-inline-end: 10px;
    }

    span {
      color: var(--secondary-color);
      font-size: 15px;
      font-weight: 700;
    }

    &:hover {
      img {
        animation: translateX 1s linear infinite;
      }

      span {
        color: var(--primary-color);
      }
    }
  }
}

.product-box {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  transition: all .3s linear;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba($color: #333, $alpha: 0.05);

  .image-content {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;

    .sale {
      padding: 5px 10px;
      background-color: var(--dark);
      color: var(--light);
      position: absolute;
      top: 0;
      right: 0px;
      font-size: 15px;
      font-weight: 500;
      z-index: 99;
      transition: all .3s linear;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .appear-data {
      width: 100%;
      height: 0%;
      background-color: rgba($color: #fff, $alpha: 0.7);
      position: absolute;
      opacity: 0;
      visibility: hidden;
      bottom: 0;
      left: 0;
      z-index: 9999;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      transition: all .3s linear;

      li {
        margin-inline-end: 15px;

        &:last-child {
          margin-inline-end: 0px !important;
        }

        a {
          width: 50px;
          height: 50px;
          background-color: var(--primary-color);
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;

          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
          }

          &:hover {
            background-color: var(--secondary-color);

            img {
              filter: invert(85%) sepia(72%) saturate(0%) hue-rotate(300deg) brightness(110%) contrast(101%);
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    padding: 15px 10px;

    h2 {
      color: var(--dark);
      font-size: 20px;
      font-weight: 700;
      margin: 0px;
    }

    .desc {
      color: var(--secondary-color);
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      text-align: justify;
      margin: 10px 0px;
    }

    .price {
      display: flex;
      align-items: center;
      align-content: center;

      .before, .after {
        font-size: 15px;
        margin: 0px;
        font-weight: 500;
      }

      .before {
        color: #e2e2e2;
        text-decoration: line-through;
        margin-inline-end: 15px !important;
      }

      .after {
        color: var(--dark);
        font-weight: 900;
      }
    }

    .custom-btn {
      margin: 15px auto 0px !important;
    }
  }

  &:hover {
    transform: translateY(-10px);

    .appear-data {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }

    .sale {
      right: -100%;
    }
  }
}

.navbar {
  width: 100%;
  padding: 0px !important;
  
  .top-nav {
    width: 100%;
    padding: 10px 0px;
    
    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      .hamburger {
        display: none;

        .line{
          width: 30px;
          height: 3px;
          background-color: var(--primary-color);
          display: block;
          margin: 8px auto;
          transition: all 0.3s ease-in-out;
        }

        &.active{
          transition: all 0.3s ease-in-out;
          transition-delay: 0.6s;
          transform: rotate(45deg);

          .line{
            &:nth-child(2){
              width: 0px;
            }

            &:nth-child(1) ,
            &:nth-child(3){
              transition-delay: 0.3s;
            }

            &:nth-child(1){
              transform: translateY(6.5px);
            }
            
            &:nth-child(3){
              transform: translateY(-15px) rotate(90deg);
            }                             
          }
        }
      }

      .brand-name {
        img {
          width: 150px;
          height: 80px;
          object-fit: contain;
        }
        font-size: 30px;
        font-weight: 900;
        color: #000;
      }
      .form-contain {
        width: 450px;
        height: 50px;
        position: relative;

        .form-group {
          width: 100%;
          height: 100%;
          position: relative;

          .form-control {
            width: 100%;
            height: 100%;
            border-radius: 0px !important;
            border: 1px solid #e2e2e2;
            padding-inline-start: 20px;
            padding-inline-end: 60px;
            color: #6f6f6f;
            font-size: 18px;
            font-weight: 500;

            &::placeholder {
              color: #6f6f6f;
              font-size: 18px;
              font-weight: 500;
            }
          }

          .search-btn {
            width: 60px;
            height: 50px;
            background-color: var(--primary-color);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            img {
              width: 25px;
              height: 25px;
              object-fit: contain;
              filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
            }

            &:hover {
              background-color: var(--secondary-color);

              img {
                filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(190deg) brightness(108%) contrast(101%);
              }
            }
          }
        }
      }

      .select-data {
        display: flex;
        align-items: center;
        align-content: center;

        li {
          margin-inline-end: 20px;

          &:last-child {
            margin-inline-end: 0px !important;
          }

          .search {
            display: none;
          }

          a {
            position: relative;

            img {
              width: 30px;
              height: 30px;
              filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
              object-fit: contain;
            }

            span {
              width: 20px;
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;
              height: 20px;
              background-color: var(--primary-color);
              color: var(--light);
              font-size: 15px;
              font-weight: 500;
              border-radius: 50%;
              position: absolute;
              top: -12px;
              right: -12px;
              z-index: 9;
            }
          }
        }
      }
    }
  }

  .navbar-nav {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin-inline-end: 30px;

      &:last-child {
        margin-inline-end: 0px !important;
      }

      a {
        color: var(--secondary-color);
        font-size: 15px;
        font-weight: 500;

        &:hover {
          color: var(--light);
        }
      }
    }
  }
}

.modal-body {
  padding: 20px 15px;

  .form-contain {
    width: 100%;
    height: 60px;
    position: relative;

    .form-group {
      width: 100%;
      height: 100%;
      position: relative;

      .form-control {
        width: 100%;
        height: 100%;
        border: 1px solid #e2e2e2;
        padding-inline-start: 20px;
        padding-inline-end: 60px;
        color: #6f6f6f;
        font-size: 18px;
        font-weight: 500;

        &::placeholder {
          color: #6f6f6f;
          font-size: 18px;
          font-weight: 500;
        }
      }

      .search-btn {
        width: 60px;
        height: 60px;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        img {
          width: 25px;
          height: 25px;
          object-fit: contain;
          filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
        }

        &:hover {
          background-color: var(--secondary-color);

          img {
            filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(190deg) brightness(108%) contrast(101%);
          }
        }
      }
    }
  }
} 


.brand-name {
  font-size: 20px;
  font-weight: 900;
  color: #000;
}

header {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--light);

  .item {
    width: 100%;
    height: 500px;
    z-index: 99;
    position: relative;
    padding-inline-start: 60px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top left;
    }

    .content {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        color: var(--dark);
        font-weight: 700;
        font-size: 25px;
        margin: 0px;
      }

      p {
        color: var(--secondary-color);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
        margin: 30px 0px;
      }


    }
  }

  .owl-theme .owl-dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px !important;
    left: 20px;
    z-index: 99;
  }
}

.products {
  width: 100%;
  padding: 50px 0px;
  background-color: var(--light);
}

.owl-stage {
  padding: 20px 0px;
}

.shop-category {
  width: 100%;

  .cate-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all .3s linear;

    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    h2 {
      color: var(--secondary-color);
      font-size: 20px;
      font-weight: 700;
      margin: 0px;
      text-align: center;
    }

    &:hover {
      transform: translateY(-10px);

      h2 {
        color: var(--primary-color);
      }
    }
  }
}


.shop-products {
  .item {
    .product-box {
      &:last-child {
        margin: 0px !important;
      }
    }
  }
}

.last-offers {
  .item .product-box {
    margin: 0px !important;

    .price {
      justify-content: flex-end !important;
      margin-top: 15px !important;
    }
  }

  .owl-stage {
    padding: 10px 0px !important;
  }

  .owl-banners .item a {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s linear;
    }

    &:hover img {
      transform: scale(1.4);
    }
  }
}

.banners {
  padding: 0px 0px 50px ;
  .item {
    width: 100%;
    height: 200px;
    z-index: 99;
    position: relative;
    padding-inline-start: 60px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.shiping {
  width: 100%;
  padding: 80px 0px 50px;
  background-color: var(--light);

  .content {
    width: 100%;
    border: 1px solid #e2e2e2;
    padding: 0px 15px;

    .border-shape {
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0px;
      align-content: center;
      justify-content: center;
      text-align: center;

      img {
        width: 80px;
        height: 80px;
        object-position: center;
        object-fit: contain;
        filter: invert(89%) sepia(25%) saturate(3117%) hue-rotate(347deg) brightness(106%) contrast(104%);
      }

      h2 {
        color: var(--secondary-color);
        font-size: 20px;
        font-weight: 900;
        margin: 20px 0px;
      }

      p {
        color: #808080;
        font-size: 15px;
        font-weight: 500;
        margin: 0px;
      }

      &:hover img {
        animation: tada .4s linear both;
      }
    }
  }
}

footer{
  width: 100%; 
  padding: 70px 0px 50px 0px;
  background-color: var(--secondary-color);
  position: relative;
  z-index: 9;

  .content{
    .brand-img{
      width: 120px;
      height: 70px;
      object-fit: contain;
    }

    &.imp-links{
      padding: 0px 85px 0px 0px;
    }

    &.cat-links{
      padding: 0px 40px 0px 0px;
    }

    .footer-desc{
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      margin: 36px 0px;
    }

    .visa-content{
      width: 230px;
      height: 20px;
      object-fit: contain;
    }

    .footer-head{
      font-size: 20px;
      font-weight: 900;
      line-height: 33px;
      color: #fff;
      margin-bottom: 30px;
    }

    .footer-links{
      li{
        margin-bottom: 7px;
        &:last-child{
          margin: 0px;
        }

        a{
          font-size: 15px;
          color: #fff;
          font-weight: 400;
          line-height: 30px;

          &:hover{
            color: var(--primary-color);
          }
        }
      }
    }

    .footer-contact{
      li{
          margin-bottom: 29px;

        a{
          display: flex;
          align-items: center;
          align-content: center;

          img{
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-inline-end: 10px;
          }

          span{
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
          }
        }
      }
    }

    .socail-media{
      display: flex;
      align-items: center;
      align-content: center;
      margin-top: 7px;

      li{
        margin-inline-end: 9px;
        &:last-child{
          margin: 0px;
        }

        a{
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          overflow: hidden;
          align-items: center;
          align-content: center;
          justify-content: center;
          background-color: rgba($color: #fff , $alpha: .20);

          img{
            width: 70%;
            height: 70%;
            object-fit: contain;
            transition: all .3s linear;
          }

          &:hover{
            background-color: rgba($color: #FFD90C , $alpha: 1.0);

            img{
              animation: toRightFromLeft .5s linear;
            }
          }
        }
      }
    }
  }
}

@import 'media';