@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: var(--primary-color);
  color: var(--light);
}
*::selection {
  background-color: var(--primary-color);
  color: var(--light);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: var(--light);
}
*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  border-radius: 0px;
  background-color: var(--secondary-color);
  opacity: 1;
  transition: all 0.5s linear;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary-color);
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
:root {
  --primary-color: #FFD90C;
  --secondary-color: #333333;
  --light: #fff;
  --dark: #000;
}

.custom-btn {
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 9;
}
.custom-btn::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.custom-btn:hover {
  color: var(--light);
}
.custom-btn:hover::after {
  width: 100%;
}

.heading {
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}
.heading h1 {
  color: var(--dark);
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  border-inline-start: 1px solid var(--primary-color);
  padding-inline-start: 15px;
}
.heading .more-data {
  display: flex;
  align-items: center;
  align-content: center;
}
.heading .more-data img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline-end: 10px;
}
.heading .more-data span {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 700;
}
.heading .more-data:hover img {
  animation: translateX 1s linear infinite;
}
.heading .more-data:hover span {
  color: var(--primary-color);
}

.product-box {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s linear;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.05);
}
.product-box .image-content {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.product-box .image-content .sale {
  padding: 5px 10px;
  background-color: var(--dark);
  color: var(--light);
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 15px;
  font-weight: 500;
  z-index: 99;
  transition: all 0.3s linear;
}
.product-box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-box .image-content .appear-data {
  width: 100%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.product-box .image-content .appear-data li {
  margin-inline-end: 15px;
}
.product-box .image-content .appear-data li:last-child {
  margin-inline-end: 0px !important;
}
.product-box .image-content .appear-data li a {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.product-box .image-content .appear-data li a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
}
.product-box .image-content .appear-data li a:hover {
  background-color: var(--secondary-color);
}
.product-box .image-content .appear-data li a:hover img {
  filter: invert(85%) sepia(72%) saturate(0%) hue-rotate(300deg) brightness(110%) contrast(101%);
}
.product-box .content {
  width: 100%;
  padding: 15px 10px;
}
.product-box .content h2 {
  color: var(--dark);
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}
.product-box .content .desc {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: justify;
  margin: 10px 0px;
}
.product-box .content .price {
  display: flex;
  align-items: center;
  align-content: center;
}
.product-box .content .price .before, .product-box .content .price .after {
  font-size: 15px;
  margin: 0px;
  font-weight: 500;
}
.product-box .content .price .before {
  color: #e2e2e2;
  text-decoration: line-through;
  margin-inline-end: 15px !important;
}
.product-box .content .price .after {
  color: var(--dark);
  font-weight: 900;
}
.product-box .content .custom-btn {
  margin: 15px auto 0px !important;
}
.product-box:hover {
  transform: translateY(-10px);
}
.product-box:hover .appear-data {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.product-box:hover .sale {
  right: -100%;
}

.navbar {
  width: 100%;
  padding: 0px !important;
}
.navbar .top-nav {
  width: 100%;
  padding: 10px 0px;
}
.navbar .top-nav .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.navbar .top-nav .content .hamburger {
  display: none;
}
.navbar .top-nav .content .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .top-nav .content .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .top-nav .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .top-nav .content .hamburger.active .line:nth-child(1), .navbar .top-nav .content .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .top-nav .content .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .top-nav .content .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .top-nav .content .brand-name {
  font-size: 30px;
  font-weight: 900;
  color: #000;
}
.navbar .top-nav .content .brand-name img {
  width: 150px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .top-nav .content .form-contain {
  width: 450px;
  height: 50px;
  position: relative;
}
.navbar .top-nav .content .form-contain .form-group {
  width: 100%;
  height: 100%;
  position: relative;
}
.navbar .top-nav .content .form-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  border: 1px solid #e2e2e2;
  padding-inline-start: 20px;
  padding-inline-end: 60px;
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}
.navbar .top-nav .content .form-contain .form-group .form-control::-moz-placeholder {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}
.navbar .top-nav .content .form-contain .form-group .form-control::placeholder {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}
.navbar .top-nav .content .form-contain .form-group .search-btn {
  width: 60px;
  height: 50px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.navbar .top-nav .content .form-contain .form-group .search-btn img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
}
.navbar .top-nav .content .form-contain .form-group .search-btn:hover {
  background-color: var(--secondary-color);
}
.navbar .top-nav .content .form-contain .form-group .search-btn:hover img {
  filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(190deg) brightness(108%) contrast(101%);
}
.navbar .top-nav .content .select-data {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .top-nav .content .select-data li {
  margin-inline-end: 20px;
}
.navbar .top-nav .content .select-data li:last-child {
  margin-inline-end: 0px !important;
}
.navbar .top-nav .content .select-data li .search {
  display: none;
}
.navbar .top-nav .content .select-data li a {
  position: relative;
}
.navbar .top-nav .content .select-data li a img {
  width: 30px;
  height: 30px;
  filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .top-nav .content .select-data li a span {
  width: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 20px;
  background-color: var(--primary-color);
  color: var(--light);
  font-size: 15px;
  font-weight: 500;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 9;
}
.navbar .navbar-nav {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar .navbar-nav li {
  margin-inline-end: 30px;
}
.navbar .navbar-nav li:last-child {
  margin-inline-end: 0px !important;
}
.navbar .navbar-nav li a {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
}
.navbar .navbar-nav li a:hover {
  color: var(--light);
}

.modal-body {
  padding: 20px 15px;
}
.modal-body .form-contain {
  width: 100%;
  height: 60px;
  position: relative;
}
.modal-body .form-contain .form-group {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-body .form-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  border: 1px solid #e2e2e2;
  padding-inline-start: 20px;
  padding-inline-end: 60px;
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}
.modal-body .form-contain .form-group .form-control::-moz-placeholder {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}
.modal-body .form-contain .form-group .form-control::placeholder {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}
.modal-body .form-contain .form-group .search-btn {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.modal-body .form-contain .form-group .search-btn img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(15%) sepia(70%) saturate(0%) hue-rotate(248deg) brightness(97%) contrast(91%);
}
.modal-body .form-contain .form-group .search-btn:hover {
  background-color: var(--secondary-color);
}
.modal-body .form-contain .form-group .search-btn:hover img {
  filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(190deg) brightness(108%) contrast(101%);
}

header {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--light);
}
header .item {
  width: 100%;
  height: 500px;
  z-index: 99;
  position: relative;
  padding-inline-start: 60px;
}
header .item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
}
header .item .content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .item .content h1 {
  color: var(--dark);
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
}
header .item .content p {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 30px 0px;
}
header .owl-theme .owl-dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px !important;
  left: 20px;
  z-index: 99;
}

.products {
  width: 100%;
  padding: 50px 0px;
  background-color: var(--light);
}

.owl-stage {
  padding: 20px 0px;
}

.shop-category {
  width: 100%;
}
.shop-category .cate-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all 0.3s linear;
}
.shop-category .cate-box img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.shop-category .cate-box h2 {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  text-align: center;
}
.shop-category .cate-box:hover {
  transform: translateY(-10px);
}
.shop-category .cate-box:hover h2 {
  color: var(--primary-color);
}

.shop-products .item .product-box:last-child {
  margin: 0px !important;
}

.last-offers .item .product-box {
  margin: 0px !important;
}
.last-offers .item .product-box .price {
  justify-content: flex-end !important;
  margin-top: 15px !important;
}
.last-offers .owl-stage {
  padding: 10px 0px !important;
}
.last-offers .owl-banners .item a {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}
.last-offers .owl-banners .item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
.last-offers .owl-banners .item a:hover img {
  transform: scale(1.4);
}

.banners {
  padding: 0px 0px 50px;
}
.banners .item {
  width: 100%;
  height: 200px;
  z-index: 99;
  position: relative;
  padding-inline-start: 60px;
}
.banners .item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.shiping {
  width: 100%;
  padding: 80px 0px 50px;
  background-color: var(--light);
}
.shiping .content {
  width: 100%;
  border: 1px solid #e2e2e2;
  padding: 0px 15px;
}
.shiping .content .border-shape {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
.shiping .content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.shiping .content .box img {
  width: 80px;
  height: 80px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(89%) sepia(25%) saturate(3117%) hue-rotate(347deg) brightness(106%) contrast(104%);
}
.shiping .content .box h2 {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 900;
  margin: 20px 0px;
}
.shiping .content .box p {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.shiping .content .box:hover img {
  animation: tada 0.4s linear both;
}

footer {
  width: 100%;
  padding: 70px 0px 50px 0px;
  background-color: var(--secondary-color);
  position: relative;
  z-index: 9;
}
footer .content .brand-img {
  width: 120px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content.imp-links {
  padding: 0px 85px 0px 0px;
}
footer .content.cat-links {
  padding: 0px 40px 0px 0px;
}
footer .content .footer-desc {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 36px 0px;
}
footer .content .visa-content {
  width: 230px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content .footer-head {
  font-size: 20px;
  font-weight: 900;
  line-height: 33px;
  color: #fff;
  margin-bottom: 30px;
}
footer .content .footer-links li {
  margin-bottom: 7px;
}
footer .content .footer-links li:last-child {
  margin: 0px;
}
footer .content .footer-links li a {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
}
footer .content .footer-links li a:hover {
  color: var(--primary-color);
}
footer .content .footer-contact li {
  margin-bottom: 29px;
}
footer .content .footer-contact li a {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .content .footer-contact li a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline-end: 10px;
}
footer .content .footer-contact li a span {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
footer .content .socail-media {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 7px;
}
footer .content .socail-media li {
  margin-inline-end: 9px;
}
footer .content .socail-media li:last-child {
  margin: 0px;
}
footer .content .socail-media li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .content .socail-media li a img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s linear;
}
footer .content .socail-media li a:hover {
  background-color: #ffd90c;
}
footer .content .socail-media li a:hover img {
  animation: toRightFromLeft 0.5s linear;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .form-contain {
    display: none !important;
  }
  .navbar .brand-name img {
    width: 120px !important;
  }
  .navbar .select-data li {
    margin-inline-end: 15px !important;
  }
  .navbar .select-data li .search {
    display: block !important;
  }
  .navbar .select-data li img {
    width: 20px;
    height: 20px;
  }
  .navbar .navbar-nav {
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    right: -100%;
    position: absolute;
    flex-direction: column !important;
    padding: 20px 15px;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
    z-index: 999;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px !important;
  }
  .navbar .navbar-nav li {
    width: 100%;
    margin: 0px !important;
    padding: 10px 0px;
    border-bottom: 1px solid #333;
  }
  .navbar .navbar-nav li:last-child {
    border-bottom: 0px !important;
  }
  .navbar .navbar-nav li a {
    color: #000;
  }
  header {
    padding: 0px !important;
  }
  header .owl-stage {
    padding: 0px !important;
  }
  header .item {
    padding-inline-start: 25px !important;
    height: 150px;
  }
  header .item .content {
    width: 100%;
  }
  header .item .content p {
    display: none !important;
  }
  header .item .content h1 {
    margin-bottom: 20px !important;
  }
  .shop-products .product-box .desc {
    display: none !important;
  }
  .shop-products .product-box h2 {
    margin-bottom: 10px !important;
  }
  .banners {
    padding-bottom: 20px;
  }
  .banners .item {
    height: 120px !important;
  }
  .products {
    padding-bottom: 0px !important;
  }
  .shiping {
    padding: 30px 0px;
  }
  footer {
    padding: 40px 0px;
  }
  footer .content.cat-links,
  footer .content.imp-links {
    padding: 0px !important;
  }
  footer p {
    text-align: justify !important;
  }
}/*# sourceMappingURL=style.css.map */